span 
{
    width:150px;
    height:33px;
    background-color: crimson;
    color:white;
    border-radius:50px;
    border:8px solid black;
    text-align:center;
    margin:19px;
    display:block;
    padding-top:15px;
    font-family:monospace;
    text-transform: uppercase;
    font-size:18px;
}


